/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  color: #333;
  background: #ccc;
  margin-bottom: 20px;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
}

#left {
  float:left;
  color:white;
  background-color:#666;
  width:33.33%;
}

#middle {
  float:left;
  background-color:#888;
  color:white;
  width:33.33%;
}

#right {
  float:left;
  background-color:#666;
  color:white;
  width:33.33%;
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  background: #eee;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background: #6ea3da;
}

aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  background: #fff;
}

footer {
  padding: 20px;
  clear: both;
  background: #ccc;
}

.topbar:after {
  content: "";
  display: table;
  clear: both;
}