* {
    box-sizing: border-box;
  }
#fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 45px;
    margin: 0;
    text-align: center;
    background: #eee;
    font-size:22px;
}
#relative {
    position:relative;
    padding:20px;
    height:200px;
    background-color:#eee;
    font-size:22px;
    text-align:center;
}
#absolute {
    position:absolute;
    padding:40px;
    width:250px;
    height:125px;
    background-color:#999;
    font-size:22px;
    text-align:center;
    top:415px;
    left:750px;
}

body {
    font-size:18px;
}
#wrapper {
    width:600px;
    padding:20px;
    margin: 0 auto;
  }
h1 {
    font-size:40px;
  }
p {
    line-height:30px;
  }