body {
    width:960px;
    margin: 0 auto;
    background-image:url("../images/body-background.png");
}

#topbar {
    width:100%;
    height:75px;
    background-color:#ffffff;
    border-bottom:2px solid #cccccc;
}
#logo {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width:275px;
    height:75px;
    font-size:32px;
    color:white;
    background-color:#4aaaa5;
    line-height:80px;
    text-align:center;
    float:left;
}
#navbar {
    color:white;
    font-size:22px;
    width:300px;
    height:60px;
    float:right;
}
.navElement {
    float:left;
    padding:5px;
    list-style-type: none;
    text-align: center;
}
.navElement:hover {
    background-color: #FFAE0D;
    color: white;
}
#wrapper:after  {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
#profilePhoto {
    height:200px;
    width:auto;
    float:left;
    margin-right:15px;
}
#main {
    margin-top:25px;
    padding-top:30px;
    padding-left:20px;
    padding-right:25px;
    background-color:white;
    color:#777777;
    border: 1px #cccccc solid;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
footer {
    text-align:center;
    height:60px;
    color:white;
    background-color:#777777;
    position:absolute;
    bottom:0;
    width:960px;
    line-height:60px;
    margin-top:-60px;
}
#skinnybar {
    height:8px;
    background-color:#4aaaa5;
}
.navlink {
    text-decoration: none;
    color:#777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#aboutme {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height:60px;
    font-size:32px;
    color:#4aaaa5;
    border-bottom: 3px solid #cccccc;
}
#main-content {
    padding-top:20px;
    font-size:20px;
    line-height:25px;
}
#smallnav {
    width:960px;
}