body {
    width:960px;
    margin: 0 auto;
    background-image:url("../images/body-background.png");
    padding:0;
}

#topbar {
    width:100%;
    height:75px;
    background-color:#ffffff;
    border-bottom:2px solid #cccccc;
}
#logo {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width:275px;
    height:75px;
    font-size:32px;
    color:white;
    background-color:#4aaaa5;
    line-height:80px;
    text-align:center;
    float:left;
}
#navbar {
    color:#777777;
    font-size:22px;
    width:300px;
    height:60px;
    float:right;
}
.navElement {
    float:left;
    padding:5px;
    list-style-type: none;
    text-align: center;
}
.navElement:hover {
    background-color: #FFAE0D;
    color: white;
    opacity:0.5;
}
.wrapper:after  {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
#profilePhoto {
    height:200px;
    width:auto;
    float:left;
    margin-right:15px;
    margin-top:20px;     
}
#main {
    margin-top:25px;
    padding-top:30px;
    padding-left:20px;
    padding-right:25px;
    background-color:white;
    color:#777777;
    border: 1px #cccccc solid;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
footer {
    text-align:center;
    height:60px;
    color:white;
    background-color:#777777;
    position:fixed;
    bottom:0;
    width:960px;
    line-height:60px;
}
#skinnybar {
    height:8px;
    background-color:#4aaaa5;
}
.navlink {
    text-decoration: none;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#aboutme {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height:60px;
    font-size:32px;
    color:#4aaaa5;
    border-bottom: 3px solid #cccccc;
    margin-bottom:-10px;
}
#main-content {
    padding-top:20px;
    font-size:20px;
    line-height:25px;
}
#smallnav {
    width:960px;
}
.portfolio-label {
    position:relative;
    top:-45px;
    background-color:#4aaaa5;
    width:200px;
    padding-top:8px;
    padding-bottom:8px;
    position:relative;
    text-align:center;
    color:white;
    font-size:16px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#portfolio-wrapper {
    height: 350px;
    padding-top:25px;  
}
.floatElement {
    float:left;
    padding:5px;
    list-style-type: none;
    text-align: center;
    color:#777777;
    height:150px;
}
.floatElement:hover {
    background-color: #FFAE0D;
    color: white;
    opacity:0.5;
}
#contact-wrapper {
    height: 450px;
    padding-top:25px;  
}
.contact-header {
    font-size:20px;
    padding-bottom:5px;
}
input {
    width:100%;
    margin-bottom:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    box-sizing: border-box;
    border: 2px solid #cccccc;
    color:#777777;
}
#message-box {
    box-sizing: border-box;
    border: 2px solid #cccccc;
    color:#777777;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:12px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:14px;
}
#submit-button {
    padding:10px;
    width:100px;
    margin-top:10px;
    background-color:#4aaaa5;
    color:white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border:none;
    cursor: pointer;
    text-align:center;
    font-size:16px;
}
a {
    color:inherit;
}
